body{
margin:0px;
padding: 0px;
}

*{
	margin:0;
	padding: 0;
	font-family: vardana;
}
#main{
width:100%;
height: 100vh;
background: url(img/a.jpg);
background-size: cover;
}

nav{
	width:100%;
	height: 80px;
	background-color:#0005;
	line-height: 80px;
}
nav ul{
	float: none;
	margin-right: 30px;
}

nav ul li{
	list-style-type: none;
	display: inline-block;
	transform: 0.8s all;
}
nav ul li:hover{
	background:#a4a4a4;
}
nav ul li a{

	text-decoration: none;
	color:#fff;
	padding: 30px;
}

form{
	float: right;
	margin-top: 3px;
	margin-right: 100px;

}

input{
	padding: 3px;
	border: none;
	border-radius: 5px;
	font-size: 24px;
font-family: sans-serif;

}
button{
	float: right;
	color: white;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	position: relative;
	padding: 3px;
	font-family: sans-serif;
	font-size: 24px;
	margin-top: 19px;
	border:none;
	background-color: green;
}


pre{
   font-size:80px;
	 text-align: center;
	 margin: 10px;
	 font-family:monospace;
	 font-weight: bold;
	 Color:#B50962  ;
}
.info {
	border: 2px solid yellow;
	margin: 40px;
	background: #0005;
	margin-left: 200px;
	margin-right: 200px;
	color:white;
	padding: 20px;


}
p{
	font-size: 20px;
	margin: 10px;
padding: 20px;

}

/* GRID START */
.grid_container{
        background: #0005;
        height: 250px;
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 40px;

}
.grid-item{
      padding: 30px;
      color: white;
      font-size: 20px;
  text-align: center;

}
.fp{
padding:0px;
}
.grid-item a h3{
  text-align: center;
  color: white;
}



p a{


  padding: 12px;
}
.fb{
  background: #3b5998;
  border-radius: 5px;
}

.sky{
  background: #00AFF0;
 border-radius: 5px;
}


.twitter{

background: #00acee;
border-radius: 5px;
}

.linkedin{

background: #00acee;
 border-radius: 5px;
}
.gmail{
background: #00acee;
 border-radius: 5px;

}

/* END GRID DESIGN */


/* FOOTER START */

.main-footer{
  background:#0009;
  height: 60px;

}
.footer{
  text-align: center;
  color: white;
  padding: 25px;
}

/* footer end */
